<!DOCTYPE html>
<html xmlns:th="http://thymeleaf.org" lang="en">
<head>
    <title>transaction history</title>
    <meta charset="UTF-8" />
</head>
<body>
<div class="container transaction_list">
    <h2>Transactions</h2>
    <br />
    <table>
        <tr>
            <th>ID</th>
            <th>date</th>
            <th>platform</th>
            <th>amount A</th>
            <th>currency A</th>
            <th>amount B</th>
            <th>currency B</th>
            <th>amount Fee</th>
            <th>currency Fee</th>
            <th>platform ID</th>
        </tr>
        <th:block th:each="transaction : ${transactions}">
            <tr>
                <td th:text="${transaction.id}">...</td>
                <td th:text="${transaction.executionDate}">...</td>
                <td th:text="${transaction.tradingPlatform}">...</td>
                <td th:text="${transaction.amountA}">...</td>
                <td th:text="${transaction.currencyA}">...</td>
                <td th:text="${transaction.amountB}">...</td>
                <td th:text="${transaction.currencyB}">...</td>
                <td th:text="${transaction.amountFee}">...</td>
                <td th:text="${transaction.currencyFee}">...</td>
                <td th:text="${transaction.platformId}">...</td>
            </tr>
        </th:block>
    </table>
</div>
</body>
</html>